appdirs==1.4.2
bottle==0.12.13
brother-ql==0.7.4
Django==1.10.6
future==0.16.0
Jinja2==2.9.5
MarkupSafe==0.23
numpy==1.12.1
olefile==0.44
packaging==16.8
packbits==0.6
Pillow==4.0.0
pkg-resources==0.0.0
pyparsing==2.1.10
six==1.10.0
