{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | badgeprint</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">`
</head>
<body style="width: 100%; margin-left: auto; margin-right: auto;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/badgeprint">badgeprint</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          {% if user.is_super_user %}
          <li><a href="/admin" target="_blank">Django Admin</a></li>
          {% endif %}
          <li><a href="/badgeprint/logoff">Logout</a></li>
        {% else %}
          <li><a href="{% url 'badgeprint_logon' %}">Login</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-md-offset-4 main">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}    "></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>