{% extends "badgeprint/base.html" %}
{% load static %}
{% block title %}
Event List
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'Select-1.2.2/css/select.dataTables.min.css' %}"/>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Select-1.2.2/js/dataTables.select.min.js' %}"></script>
<script>
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="{% url 'list_my_event' %}">My Events</a></li>
</ul>
{% endblock %}
{% block content %}
  <div class="table-responsive">
    <p>ID: {{ event.id }}</p>
    <p>Event Code: {{ event.code}}</p>
    <p>Event Name: {{ event.name}}</p>
    <p>Event Description: {{ event.description}}</p>
    <p>Start Time: {{ event.start_time}}</p>
    <p>End Time: {{ event.end_time}}</p>
 </div>
{% endblock %}