{% extends "badgeprint/base.html" %}
{% load static %}
{% block title %}
Participant List
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'Select-1.2.2/css/select.dataTables.min.css' %}"/>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Select-1.2.2/js/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fnFilterClear.js' %}"></script>
<script>
$(document).ready( function () {
    var table = $('#participant_list').DataTable( {
        "ajax": {
            "url": '{% url 'json_event_participant' event_id=id %}',
            "dataType": 'json',
            "dataSrc": "data",
        },
        "columns": [
            { 'data': null,
                      render: function(data, type, row) {
                              return row.first_name + ' ' + row.last_name;
                      }
            },
            { 'data': 'company' },
            { 'data': 'phone' },
            { 'data': 'email' },
            { 'data': 'ticket_type' },
            { 'data': 'code' },
            { 'data': 'status' },
            { 'data': null,
                      render: function(data, type, row) {
                          let code;
                          if (row.code) {
                              code = row.code
                          } else {
                              code = row.id
                          }
                          let buttons;
                          if (row.status == 'Attending') {
                              buttons = `<a href="javascript:checkIn('${code}')"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>`;
                          } else if (row.status == 'Attended') {
                              buttons = `<a href="javascript:checkOut('${code}')"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>`;
                          };
                          buttons += ` <a href="javascript:printLabel('${code}')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                          <a href=""><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>`;

                          return buttons;
                      },
                      width: '1%',
                      orderable: false
            }

        ],
        columnDefs: [
            {
                render: function ( data, type, row ) {
                    if (data=='Attending') {
                        return '<span class="label label-info">Attending</span>';
                    } else if (data == 'Attended') {
                        return '<span class="label label-success">Attended</span>';
                    };
                },
                targets: 6,
                width: '1%'
            },
            {
                "targets": [ 2, 3, 4 ],
                "visible": false
            },
        ],
        //dom: "Bfrtip",
        "select": false,
        "order": [[ 1, "asc" ]],
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    });
    setInterval( function () {
        table.ajax.reload(null, false);
    }, 3000 );
});
async function printLabel(code) {
    const apiUrl = '{% url "print_raster_file" %}';

    try {
        const params = {
            code: code
        };
        const response = await fetch(apiUrl, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            credentials: 'omit',
            body: JSON.stringify(params)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        return {
            success: true,
            data: data
        };
    } catch (error) {
        console.error('PUT API call failed:', error);
        return {
            success: false,
            error: error.message
        };
    }
}
async function checkIn(code) {
    const apiUrl = '{% url "api_check_in" %}';
    try {
        const params = {
            code: code,
            print_label: 1
        };
        const response = await fetch(apiUrl, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            credentials: 'omit',
            body: JSON.stringify(params)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        return {
            success: true,
            data: data
        };
    } catch (error) {
        console.error('PUT API call failed:', error);
        return {
            success: false,
            error: error.message
        };
    }
}
async function checkOut(code) {
    const apiUrl = '{% url "api_check_out" %}';
    try {
        const params = {
            code: code,
            print_label: 0
        };
        const response = await fetch(apiUrl, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            credentials: 'omit',
            body: JSON.stringify(params)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        return {
            success: true,
            data: data
        };
    } catch (error) {
        console.error('PUT API call failed:', error);
        return {
            success: false,
            error: error.message
        };
    }
}
function filterclear() {
    table.fnFilterClear();
}
setInterval(function(){
$.getJSON( "{% url 'json_event_stats' event_id=id %}", function( data ) {
  $('#checkin_count').html(data.attended + " / " + data.total);
});
}, 5000);
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="{% url 'list_all_event' %}">All Events</a></li>
</ul>
{% endblock %}
{% block content %}
  <h1>{{ event_name }}</h1>
  <span class="glyphicon glyphicon-user"></span> <span id="checkin_count">? / ?</span>
  <a href="{% url 'participant_create_view' event_id=event_id %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
 <div class="table-responsive">
    <table class="table table-striped" id="participant_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Ticket Type</th>
          <th>Code</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
 </div>
{% endblock %}